/* General styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
}

.navbar-left .logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-mobile {
  display: none; /* Hide by default */
  flex: 1;
  justify-content: flex-end;
}

.nav-item-mobile {
  display: inline-block;
  margin-right: 10px;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  padding-top: 50px;
  z-index: 1000;
}

.side-menu.show {
  left: 0;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  padding: 15px;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.side-menu ul li a:hover {
  color: #0d0d0d;
}

.close-side-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile View */
@media (max-width: 768px) {
  .navbar-right {
    display: none; /* Hide right-side nav items on mobile */
  }

  .navbar-mobile {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: space-between; /* Distribute space evenly */
    width: 100%;
    padding: 0 15px;
  }

  .menu-icon {
    display: block;
    margin-right: 10px;
  }

  .nav-text {
    display: none;
  }

  .nav-item-mobile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
  }

  .nav-item-mobile button {
    background: none;
    border: none;
    color: white;
  }

  .side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    background-color: #333;
    height: 100%;
    transition: 0.3s ease-in-out;
  }

  .side-menu.show {
    left: 0;
  }

  .login-modal-content {
    max-width: 90%;
    padding: 20px;
  }

  .login-modal h3 {
    font-size: 24px;
  }

  .form-group input {
    font-size: 16px;
  }
}
